<!DOCTYPE html>

<html>
    <head>
        <title>A Simple Web Server</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This is a Weather Forecast website created by <strong>Shubham Kumar</strong>. It uses data from mapbox.com and weatherstack.com to render the forecast of any given location.</p>
            <img class="image" src="/img/1.jpg">
        </div>
        {{>footer}}
    </body>
</html>