<!DOCTYPE html>

<html>
    <head>
        <title>A Simple Web Server</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            
            <form>
                <input type="text" name="address" placeholder="Type in an address...">
                <button type="submit">Search</button>
            </form>

            <strong><p id="msg1"></p></strong>
            <p id="msg2"></p>
        </div>
        {{>footer}}
        <script src="/js/javascript.js"></script>
    </body>
</html>